p {
   font-family: Arial, Helvetica, sans-serif;
}

a{
    color: greenyellow;
    text-decoration: none; /*Tira o sublinhado do link*/
}
a:visited {
    background-color: black;
}
/*Links já visitados*/

/*Link enquanto o mouse está sobre ele*/
/*a:hover{
    color: orange;
    text-decoration: underline;
}*/

a:hover{
    
    filter: brightness(50%);
    text-decoration: underline;
}


